@page "/customize"
@using Tychy.Components.Services
@rendermode InteractiveServer
@inject PlatformService platformService

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="bg-light">
                Platforma
                <div class="card-header navbar-dark-tychy text-white">
                    <h4 class="mb-0">
                        <i class="bi bi-envelope-plus"></i> Dodaj platformę
                    </h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Nazwa *</label>
                            <input type="text" class="form-control" id="nameId"
                                   placeholder="Wprowadź nazwę nowej platformy"
                                   @bind="platformName" />
                        </div>
                        <div class="mb-3">
                            <label for="limit" class="form-label">Limit kodów *</label>
                            <input type="number" class="form-control" id="limitId"
                                   placeholder="Wprowadź limit kodów z platformy"
                                   @bind="platformLimit" />
                        </div>
                        <div class="mb-3">
                            <label for="instructions" class="form-label">Instrukcje *</label>
                            <input type="text" class="form-control" id="instructionsId"
                                   placeholder="Wprowadź instrukcję używania kodu"
                                   @bind="platformInstructions" />
                        </div>

                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary btn-lg" @onclick="AddPlatform">
                                <i class="bi bi-send"></i> Stwórz platformę
                            </button>
                            <button type="reset" class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-clockwise"></i> Wyczyść formularz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bg-light">
                Kod Legimi
                <div class="card-header navbar-dark-tychy text-white">
                    <h4 class="mb-0">
                        <i class="bi bi-envelope-plus"></i> Dodaj kod Legimi
                    </h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="code" class="form-label">Kody *</label>
                            <textarea class="form-control" id="codeId"
                                      placeholder="Wprowadź kody Legimi"
                                      rows="5"
                                      @bind="codeNameLegimi"></textarea>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary btn-lg" @onclick="AddCodeLegimi">
                                <i class="bi bi-send"></i> Stwórz nowy kody Legimi
                            </button>
                            <button type="reset" class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-clockwise"></i> Wyczyść formularz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bg-light">
                Kod Empik GO
                <div class="card-header navbar-dark-tychy text-white">
                    <h4 class="mb-0">
                        <i class="bi bi-envelope-plus"></i> Dodaj kody Empik GO
                    </h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="code" class="form-label">Kody *</label>
                            <textarea class="form-control" id="codeId"
                                      placeholder="Wprowadź kody Empik GO"
                                      rows="5"
                                      @bind="codeNameEmpik"></textarea>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary btn-lg" @onclick="AddCodeEmpik">
                                <i class="bi bi-send"></i> Stwórz nowy kody Empik GO
                            </button>
                            <button type="reset" class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-clockwise"></i> Wyczyść formularz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bg-light">
                Niewykorzystane kody
                <div class="card-header navbar-dark-tychy text-white">
                    <h4 class="mb-0">
                        <i class="bi bi-envelope-plus"></i> Dodaj niewykorzystane kody
                    </h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="code" class="form-label">Kody *</label>
                            <textarea class="form-control" id="codeId"
                                      placeholder="Wprowadź niewykorzystane kody"
                                      rows="5"
                                      @bind="unusedCodeName"></textarea>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary btn-lg" @onclick="AddCodeUnused">
                                <i class="bi bi-send"></i> Stwórz nowy kody Empik GO
                            </button>
                            <button type="reset" class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-clockwise"></i> Wyczyść formularz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bg-light">
                Czytelnik
                <div class="card-header navbar-dark-tychy text-white">
                    <h4 class="mb-0">
                        <i class="bi bi-envelope-plus"></i> Dodaj czytelnika
                    </h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="number" class="form-label">Numer czytelnika *</label>
                            <input type="text" class="form-control" id="numberId"
                                   placeholder="Wprowadź numer nowego czytelnika"
                                   @bind="readerNumb" />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Imię i nazwisko *</label>
                            <input type="text" class="form-control" id="readName"
                                   placeholder="Wprowadź imię czytelnika"
                                   @bind="readName" />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Mail *</label>
                            <input type="text" class="form-control" id="mail"
                                   placeholder="Wprowadź email czytelnika"
                                   @bind="mail" />
                        </div>

                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary btn-lg" @onclick="AddReader">
                                <i class="bi bi-send"></i> Dodaj czytelnika
                            </button>
                            <button type="reset" class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-clockwise"></i> Wyczyść formularz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    private string platformName = string.Empty;
    private int platformLimit = 0;
    private string platformInstructions = string.Empty;

    private string codeNameLegimi = string.Empty;

    private string codeNameEmpik = string.Empty;

    private string unusedCodeName = string.Empty;

    private byte readerNumb = 0;
    private string readName = string.Empty;
    private string mail = string.Empty;

    private async void AddPlatform()
    {
        Console.WriteLine("AddedPlatform");
        try
        {
            await platformService.AddPlatform(platformName, platformLimit, platformInstructions);

            Console.WriteLine("Platforma stworzona!");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Błąd: {ex.Message}");
        }
    }
    private async void AddCodeEmpik()
    {
        Console.WriteLine("AddedCode");
        try
        {
            await platformService.AddCodeEmpik(codeNameEmpik);

            Console.WriteLine("Kod stworzony!");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Błąd: {ex.Message}");
        }
    }
    private async void AddCodeLegimi()
    {
        Console.WriteLine("AddedCode");
        try
        {
            await platformService.AddCodeLegimi(codeNameLegimi);

            Console.WriteLine("Kod stworzony!");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Błąd: {ex.Message}");
        }
    }
    private async void AddCodeUnused()
    {
        Console.WriteLine("AddedCode");
        try
        {
            await platformService.AddCodeNotAc(unusedCodeName);

            Console.WriteLine("Kod stworzony!");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Błąd: {ex.Message}");
        }
    }
    private async void AddReader()
    {
        Console.WriteLine("AddedReader");
        try
        {
            await platformService.AddReader(readerNumb, readName, mail);

            Console.WriteLine("Czytelnik  stworzony!");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Błąd: {ex.Message}");
        }
    }
}
