@page "/"

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron bg-light p-5 rounded">
                <h1 class="display-4">Witamy w systemie kodów ebooków!</h1>
                <p class="lead">Biblioteka Miejska w Tychach</p>
                <hr class="my-4">
                <p>Wybierz platformę ebooków i zamów swój kod dostępu.</p>
                <a class="btn btn-primary btn-lg" href="request-form">
                    <i class="bi bi-envelope-plus"></i> Zamów kod
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="bi bi-1-circle display-4 text-primary"></i>
                    <h5 class="card-title mt-3">Złóż wniosek</h5>
                    <p class="card-text">Wypełnij formularz wybierając platformę ebooków</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="bi bi-2-circle display-4 text-success"></i>
                    <h5 class="card-title mt-3">Oczekuj na weryfikację</h5>
                    <p class="card-text">Pracownik biblioteki zweryfikuje Twoje konto</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="bi bi-3-circle display-4 text-info"></i>
                    <h5 class="card-title mt-3">Odbierz kod</h5>
                    <p class="card-text">Kod zostanie wysłany na Twój adres email</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}
